<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
		<add name="MainUser" connectionString="Data Source=192.168.0.11;Initial Catalog=RFM_ZEN;Persist Security Info=True;User ID=sa;Password=net123aA@" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="KeepFormOpened" value="true"/>
	</appSettings>
</configuration>